// Color
$primary: #ffd800;
$black: #000;
$black-100: #101010;
$white: #fff;
$white-101010: #e0e0e0;


// Length
$max-width: 87.5rem;

// Fonts
$regular-font: 'muli-regular';
$thin-font: 'muli-light';
$bold-font: 'muli-bold';