.primary-bg{
    background-color: $primary;
}

.primary{
    color: $primary;
}

.primary-icon{
    color: $primary;
    fill: $primary;
}

.black-icon{
    color: $black;
    fill: $black;
}

.white-icon{
    fill: $white;
    color: $white;
}