header {
    position: fixed;
    top: 0;

    .header {
        border-radius: 2rem;
        max-width: $max-width;

        img{
            filter: brightness(0);
        }

        .item{
            padding: 0 0.625rem;
            display: inline-block;
            transition: 0.8s;
        }

        .header-rest{
            min-width: 30rem;
        }
    }

    .search{
        padding: 0.4rem 1rem;
        background: rgba(255,255,255,.5);
        border-radius: 1rem;
        min-width: 15rem;
        transition: 0.8s;
        max-width: 30rem;
    }

    .search-focus{
        flex: 2;
        .search{
            background: rgba(255, 255, 255, 1);
        }
    }
}