.input-group{
    .input-div{
        flex: 1;
        margin-right: 0.5rem;
    }

    .input{
        border: none;
        background-color: transparent;
        font-family: $regular-font;
        font-size: 0.875rem;
    }
}